
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}


/* */
:root {
  --clr: #F7C2C0;
  --margin: 0 20%;
}
 
/* TOP NAVIGATION*/ 
.brand_logo {
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0 1rem;
}
.topnav {
  display: flex;
  margin: 0 8%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
nav {
  height: 100px;
  background-color: var(--clr);
}

nav a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 1rem;
}
/* HERO SECTION */
header {
  height: 50vh;
  min-height: 400px;
  margin: var(--margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > * {
  margin: 1.2rem 0;
}

/* CARDS */
#tile-1-img {
  background-image: url("./images/897861-iphone-13-camera.webp");
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

section {
  margin:var(--margin);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}

.tile {
  height: 300px;
  border-radius: 0.2rem;
  grid-column: span 4;
  box-shadow: rgba(38, 47, 56, 0.2) 0px 8px 24px;
}
#tile-1 {
  grid-area: 1 / 1 / span 1 / span 4;

}
#tile-2 {
  grid-area: 1 / 5 / span 1 / span 4;
}
#tile-3 {
  grid-area: 1 / 9 / span 1 / span 4;
}












